<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout>
    <span>Company Name</span>
    <span fxFlex="1 1 auto"></span>
    <span>Consultant: Venki</span>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayout fxLayoutAlign="center center">
    <app-search></app-search>
  </mat-toolbar-row>
</mat-toolbar>
<main fxLayout="column" fxLayoutGap="1em" class="container">
  <app-posted-jobs></app-posted-jobs>
  <section fxLayout="column"
           fxLayout.lg="row"
           fxLayout.xl="row"
           fxLayoutGap="1em">
    <app-short-listed fxFlex="1 1 auto"></app-short-listed>
    <app-interviews fxFlex="1 1 auto"></app-interviews>
  </section>
</main>
